*{
    margin: 0;
    padding: 0;
}

.container{
    width: 418px;
    height: 220px;
    overflow: hidden;
    position: relative;

    background-color: white;

    .red-white{
        list-style: none;
        width: 100%;
        height: 100%;

        li{
            height: 7.69%;

            &:nth-child(odd){
                background-color: red;
                
                width: 100%;
            }
        }
    }

    .blue{
        height: 53.9%;
        width: 40%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(3, 3, 116);
        .stars{
            width: 100%;
            height: 95%;
            position: absolute;
            top: 3.5%;

            .line{
                position: absolute;
                width: 100%;
                height: 11.1%;
                display: flex;
                justify-content: center;
                gap: 12%;
    
                @for $i from 1 to 10 {
                    &:nth-child(#{$i}){
                        top: calc(11.1% * #{$i} - 11.1%);
                        left: 0;
                    }
                }
    
                .star{
                    background-color: white;
                    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                    height: 9px;
                    width: 9px;
                }
            }
        }


    }
}
